* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    background-color: #0b0f14;
    color: #ffffff;
    font-family: "Jura", sans-serif;
    font-weight: 500;
    overscroll-behavior: none;
}

/* CONTENEDOR GENERAL */
.container {
    height: 100%;
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

/* TEXTO SUPERIOR */
.welcome-text {
    font-size: 1.3rem;
    margin-bottom: 12px;
    min-height: 1.6em;
    color: #BC5C89;
    flex-shrink: 0;
}

/* TERMINAL COMPLETA */
.terminal {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
}

/* TEXTAREA TERMINAL */
#realInput {
    flex: 1;
    width: 100%;
    background: transparent;
    color: #eeeeee;
    font-family: "Jura", monospace;
    font-size: 1.1rem;
    line-height: 1.5;
    border: none;
    outline: none;
    resize: none;
    caret-color: #20e0d0;
    
    overflow-y: auto;
    scroll-behavior: auto;
    user-select: text;

    padding-bottom: 24px;
}

/* SCROLLBAR */
#realInput::-webkit-scrollbar {
    width: 6px;
}

#realInput::-webkit-scrollbar-thumb {
    background: #1a232e;
    border-radius: 3px;
}

/* LINKS INTEGRADOS */





.links {
display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 40%;
    overflow-y: auto;
    padding-top: 8px;
    padding-bottom: 16px;
    font-family: "Jura", monospace;
    font-size: 1.05rem;
}

.links a {
width: fit-content;
    display: block;
    color: #20e0d0;
    text-decoration: none;
    margin-bottom: 6px;
}

.links a:hover {
    text-decoration: underline;
}