/* =========================
   RESET
========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* =========================
   BODY
========================= */
body {
  background-color: #0b0f14;
  color: #ffffff;

  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* =========================
   CONTENEDOR
========================= */
.container {
  height: 100dvh;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

/* =========================
   TEXTO BIENVENIDA
========================= */
.welcome-text {
  font-size: 1.3rem;
  margin-bottom: 12px;
  min-height: 1.5em;
}

/* =========================
   TERMINAL
========================= */
#realInput {
  flex: 1;
  width: 100%;

  background: transparent;
  color: #ffffff;

  font-family: "Jura", sans-serif;
  font-size: 1rem;
  line-height: 1.4;

  border: none;
  outline: none;
  resize: none;

  caret-color: #20e0d0;

  overflow-y: auto;
  scroll-behavior: smooth;

  -webkit-user-select: text;
  user-select: text;
}